.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-image: url('../assets/media/landing_bg--dark.png');
  background-position: center;
  background-size: cover;
}

.home-page {
  width: 80%;
  padding: 3rem;
  position: relative;
  background-color: #fff;
}

.testerdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  text-transform: uppercase;
}

.center-container {
  height: 95vh;
  width: 100%;
  display: flex;
}

.page-container {
  width: 80%;
  // background-color: green;
}